#input_box {
	display: block;
	margin: auto;
	margin-bottom: 75px;
	margin-top: 75px;
}

#assistant {
	margin-left: 10%;
	margin-right: 10%;
}

#grid_mid {
	width: 100%;
	display: flex;
	justify-content: center;
}

#chars {
	/* width: 100%; */
	float: left;
	justify-self: center;
	text-align: center;
	font-size: 40px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	gap: 10px;
}

#chars * {
	margin: 0;
	padding: 0;
	height: 50px;
	width: 50px;
}

html {
	background-color: black;
	text-align: center;
}

body {
	margin-top: 5%;
	color: white;
}
